<ion-tabs [class]="">
    <ion-tab-bar  slot="bottom">
        <ion-tab-button tab="habits">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Habits</ion-label>
        </ion-tab-button>
        <ion-tab-button color="success" tab="reports">
            <ion-icon name="pulse"></ion-icon>
            <ion-label>Reports</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="battle">
            <ion-icon name="medal"></ion-icon>
            <ion-label>Battle</ion-label>
        </ion-tab-button>
        <ion-tab-button color="success" tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
