<ion-header *ngIf="mode != 'loading'">
    <ion-toolbar>
        <div float-left>
            <ion-buttons>
                <ion-back-button></ion-back-button>
            </ion-buttons>
        </div>
        <div domflag float-right>
            <ion-buttons>
                <ion-button id="done" [disabled]="form.invalid" slot="end" (click)="trySave()" routerDirection="forward">
                    Done
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="form">

    <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [formControl]="form.controls.type" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
            <ion-select-option *ngFor="let item of formOptions.type" [value]="item.value">{{item.display}}</ion-select-option>
        </ion-select>
    </ion-item>
    <!-- <incident-form [form]="form" [formOptions]="formOptions"> -->
    <!-- </incident-form> -->
    <info-form [form]="form" [formOptions]="formOptions">
    </info-form>
    <scheduling-form [form]="form" [formOptions]="formOptions">
    </scheduling-form>
    <category-form [form]="form" [formOptions]="formOptions">
    </category-form>
</ion-content>
