.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.col-fill{
    --background-color:red;
    --background:red;
}
.fill-buttons{
    --padding-top:0px;
    --padding-start:0px;
    --padding-end:0px;
    --padding-bottom:0px;
    --ion-grid-padding:0px;
    text-align:center;

    // --background-color:red;
    // --background:red;
}

.btn-fill{
    margin:0x;
    padding:0px;
    height:100%;
    width:100%;
        --padding-top:0px;
    --padding-start:0px;
    --padding-end:0px;
    --padding-bottom:0px;
    --ion-grid-padding:0px;
    // --background-color:red;
    background-color:transparent;
    --background-color:transparent;
    --background:transparent;

}
.btn-cancel{

    height:100%;
    width:100%;
    margin:0x;
    padding:0px;
    --background-color:white;
    --background:white;
}
