<ion-header>
    <ion-title>Habits</ion-title>
    <ion-toolbar id="toolbar" ion-justify-content-center class="ion-justify-content-evenly">
        <ion-buttons ion-justify-content-center class="ion-justify-content-evenly">

            <ion-button>
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>

            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleDeleteMode()" routerDirection="forward">

                <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>

            <ion-button id="create" [routerLink]="['create']" routerDirection="forward">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
        <!-- <ion-title>Default Buttons</ion-title> -->
    </ion-toolbar>

</ion-header>
<ion-toolbar *ngIf="mode == 'delete'" no-padding>
    <div style="display:flex;justify-content:center;padding:0;border:none;">


        <ion-button (click)="mode = 'normal'" style="display:flex;align-items:center;flex-basis:0.5;min-height:44px;background-color:blue;border:none;" class="btn-fill" no-margin full large>
            Cancel
        </ion-button>

        <ion-button (click)="removeSelectedHabits()" style="display:flex;align-items:center;flex-basis:0.5;min-height:44px;background-color:red;" class="btn-fill" no-margin full large>
            Delete
        </ion-button>

    </div>
</ion-toolbar>

<!-- </ion-buttons> -->
<!-- <ion-titleDefault Buttons</ion-title> -->
<!-- </ion-toolbar> -->

<ion-content>


    <ion-header no-margin no-padding>
        <ion-item lines="none" no-margin no-padding>

            <ion-button slot="start" (click)="decrementDate()" no-padding no-margin style="justify-content:center;text-align:center;height:70%">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
            <ion-text color="medium" style="margin:auto">{{currentDate.format() | date: 'fullDate'}}</ion-text>
            <ion-button slot="end" (click)="incrementDate()" no-padding no-margin style="justify-content:center;text-align:center;height:70%">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>


        </ion-item>
    </ion-header>
    <ion-list id="task-list">
        <ion-list-header no-margin no-padding>
            <ion-label>Daily Habits</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let i of items" id="task">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-label class="item-text-center" floating>
                            {{i.habit.name}}
                        </ion-label>
                    </ion-col>

                    <ion-col size="3">
                        <ion-label floating>
                            <!-- {{h.name}} -->
                        </ion-label>
                    </ion-col>

                    <ion-col size="3">
                        <div class="item-text-center">
                            <ion-badge color="secondary">{{i.habit.statistics.completed_percentage}}%</ion-badge>
                        </div>
                    </ion-col>

                    <ion-col size="3">
                        <!-- complete -->

                        <ion-button *ngIf="mode == 'normal'  && i.task.status  != 'COMPLETE'" (click)="completeTask(i)">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <!-- complete -->
                        </ion-button>
                        <ion-checkbox *ngIf="mode == 'delete'" color="danger" (click)="selectHabit($event,i)"></ion-checkbox>


                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-list>
</ion-content>
