<ion-header>

    <ion-segment (ionChange)="segmentChanged($event)" value="habits">
        <ion-segment-button value="summary">
            <ion-label>Summary</ion-label>
        </ion-segment-button>
        <ion-segment-button value="habits">
            <ion-label>Habits</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>

    <ion-content>
        <ion-select style="text-align:center" (ionChange)="setHabit($event.target.value)" interface="popover" [ngModel]="selectedHabit" placeholder="Select One">
            <ion-select-option *ngFor="let item of habits" [value]="item">{{item.name}}</ion-select-option>
        </ion-select>

        <div *ngIf="source" class="calendar-container">
            <ng-template #template let-view="view" let-row="row" let-col="col">
                <div class="calendar-day {{ view.dates[row*7+col].events[0]?.color }}">
                    {{view.dates[row*7+col].label}}
                </div>
            </ng-template>

            <calendar [currentDate]="currentDate" [noEventsLabel]="''" [queryMode]="'local'" [eventSource]="source" [monthviewDisplayEventTemplate]="template" [calendarMode]="'month'" [showEventDetail]="false" [formatMonthTitle]="'MMMM'">
            </calendar>
        </div>

        <ion-list>

            <ion-item>


                <ion-label>
                    total repetitions to meet goal
                </ion-label>
                <ion-text>
                    {{selectedHabit.tasks.length}}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label>
                    percentage completed
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.completed_percentage}}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label>
                    percentage completed for month
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.completed_percentage_month}}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label>
                    percentage completed for week
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.completed_percentage_week}}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label>
                    longest streak
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.longest_streak}}
                </ion-text>
            </ion-item>

            <ion-item>
                <ion-label>
                    points accrued
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.total_points}}
                </ion-text>

            </ion-item>
            <ion-item>
                <ion-label>
                    measurable outcomes
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.measurable_outcomes}}
                </ion-text>

            </ion-item>
            <ion-item>
                <ion-label>
                    total missed
                </ion-label>
                <ion-text>
                    {{selectedHabit.statistics.total_missed}}
                </ion-text>

            </ion-item>

        </ion-list>

    </ion-content>

</ion-content>
