<ion-header>

    <ion-segment (ionChange)="segmentChanged($event)" value="habits">
        <ion-segment-button value="summary">
            <ion-label>Summary</ion-label>
        </ion-segment-button>
        <ion-segment-button value="habits">
            <ion-label>Habits</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>

    <ion-content>
        <ion-select style="text-align:center" (ionChange)="setHabit($event.target.value)" interface="popover" [ngModel]="selectedHabit" placeholder="Select One">
            <ion-select-option *ngFor="let item of habits" [value]="item">{{item.name}}</ion-select-option>
        </ion-select>

        <div *ngIf="source" class="calendar-container">
            <ng-template #template let-view="view" let-row="row" let-col="col">
                <div class="calendar-day {{ view.dates[row*7+col].events[0]?.color }}">
                    {{view.dates[row*7+col].label}}
                </div>
            </ng-template>

            <calendar [currentDate]="currentDate" [noEventsLabel]="''" [queryMode]="'local'" [eventSource]="source" [monthviewDisplayEventTemplate]="template" [calendarMode]="'month'" [showEventDetail]="false" [formatMonthTitle]="'MMMM'">
            </calendar>
        </div>
        <calendar [currentDate]="currentDate" [noEventsLabel]="''" [queryMode]="'local'" [monthviewDisplayEventTemplate]="template" [calendarMode]="'week'" [showEventDetail]="false" [formatMonthTitle]="'MMMM'">
        </calendar>
    </ion-content>

</ion-content>
