.dark-theme {
    ion-toolbar {
        background-color: #090f2f;
        color: #fff;
        --background: #090f2f;
    }
    ion-content {
        background-color: #090f2f;
        color: #fff;
        --background: #090f2f;

        --ion-text-color:white;
    }
    ion-button {

        background-color: #090f2f;
        color: #fff;
        --background: #090f2f;
    }
    ion-tab-bar {
        background-color: #090f2f;
        color: white;
        --background: #090f2f;
    }

    ion-list {
        --color: white;
        --background: #090f2f;
        background-color: #090f2f;
    }
    ion-list-header {
        --color: #2885c6;
        /* white; */
        --background: #090f2f;
        background-color: #090f2f;
    }

    .monthview-current {
        background-color: #2885c6 !important;
    }

    ion-item {
        --color: white;

        --background: #090f2f;
        background-color: #090f2f;
    }

    .ion-label {
        --color: white;
        color:white;
        --ion-item-color: white;
    }

    .toolbar-title {
        color: #fff;
    }
    .inner-scroll {
        background:none;

    }

    .header .toolbar-background {
        border-color: #ff0fff;
    }

    .button-native{
        color:white;
    }
    table{

        --color:white;
        --ion-text-color:white;

    }
}  
