.light-theme {

    --ion-toolbar-background: black;
    --ion-tab-bar-background: black;
    ion-modal {
        --height: 70%;
        --width: 80%;
    }

    ion-toolbar {
        background-color: #090f2f;
        color: #fff;
        --background: black;
    }
    // ion-toolbar {
    //     background-color: #090f2f;
    //     color: #fff;
    //     --background: #090f2f;
    // }
    // ion-content {
    //     background-color: #090f2f;
    //     color: #fff;
    //     --background: #090f2f;
    // }
    // ion-tab-bar {
    //     background-color: #090f2f;
    //     color: white;
    //     --background: #090f2f;
    // }

    // ion-list {
    //     --color: white;

    //     --background: #090f2f;
    //     background-color: #090f2f;
    // }

    // ion-item {
    //     --color: white;

    //     --background: #090f2f;
    //     background-color: #090f2f;
    // }

    // .ion-label {
    //     --color: white;
    //     color:white;
    //     --ion-item-color: white;
    // }

    // .toolbar-title {
    //     color: #fff;
    // }
    // .inner-scroll {
    //     background:none;

    // }

    // .header .toolbar-background {
    //     border-color: #ff0fff;
    // }
}  
