<ion-header>
    <ion-toolbar>
        <ion-title>Month Schedule</ion-title>
    </ion-toolbar>
</ion-header>
<!-- {{viewTitle}} -->
<ion-content>
    <!-- template will not project into ng content if split from it(this must go here and not in app calendar)-->

    <app-calendar *ngIf="mode == 'ready'" [viewTitle]="viewTitle">
        <ng-template #template let-view="view" let-row="row" let-col="col">
            <div class="calendar-day {{ view.dates[row*7+col].events[0]?.style }}">
                {{view.dates[row*7+col].label}}
            </div>
        </ng-template>
        <calendar (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="selectDate($event)" [currentDate]="currentDate" [autoSelect]="false" [noEventsLabel]="''" [queryMode]="'local'" [eventSource]="source" [monthviewDisplayEventTemplate]="template" [calendarMode]="'month'" [showEventDetail]="false" [formatMonthTitle]="'MMMM yyyy'">
        </calendar>
    </app-calendar>
</ion-content>

<ion-footer>
    <ion-button float-left (click)="dismiss()">
        Cancel
    </ion-button>
    <ion-button float-right (click)="dismiss()" [disabled]="!canSubmit()">
        Done
    </ion-button>
</ion-footer>
