<ion-header >
    <ion-toolbar>
        <ion-title>Month Schedule</ion-title>
    </ion-toolbar>
</ion-header>
<ion-header class="subheader" style="height:5%" no-padding>
    <ion-grid color="medium" no-padding no-margin>
        <ion-row no-padding no-margin>
            <!-- left button -->
            <ion-col size="4" no-padding no-margin ion-justify-content-center style="text-align:left">
                <ion-button color="none" (click)="dateSwipe(-1)" no-padding no-margin style="font-size:20px;height:100%">
                    <ion-icon color="light" name="arrow-back"></ion-icon>
                </ion-button>
            </ion-col>
            <!-- the date header  -->
            <ion-col size="4" color="light" style="">
                <div style="text-align:center">
                    <div style=" position:relative;top:50%">
                        <ion-label color="light">{{displayDate.format('MMMM YYYY')}}</ion-label>
                    </div>
                </div>
            </ion-col>
            <!-- right button -->
            <ion-col size="4" style="text-align:right">
                <ion-button color="none" (click)="dateSwipe(1)" no-padding no-margin style="height:100%;font-size:20px">
                    <ion-icon color="light" name="arrow-forward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <div *ngIf="mode == 'ready'" class="calendar-container">
        <ng-template #template let-view="view" let-row="row" let-col="col">
            <div class="calendar-day {{ view.dates[row*7+col].events[0]?.color }}">
                {{view.dates[row*7+col].label}}
            </div>
        </ng-template>

        <calendar (onTimeSelected)="onTimeSelected($event)" [currentDate]="currentDate" [autoSelect]="false" [noEventsLabel]="''" [queryMode]="'local'" [eventSource]="source" [monthviewDisplayEventTemplate]="template" [calendarMode]="'month'" [showEventDetail]="false" [formatMonthTitle]="MMMM">
        </calendar>
    </div>
</ion-content>

<ion-footer>
    <ion-button float-left (click)="dismiss()">
        Cancel
    </ion-button>
    <ion-button float-right (click)="dismiss()" [disabled]="!canSubmit()">
        Done
    </ion-button>
</ion-footer>
