<ion-list *ngIf="tasks.length > 0" no-padding no-margin>
    <ion-card no-padding no-margin>
        <ion-item [color]="options.color">
            <ion-label style="text-align:center;font-weight:bold" color="light">{{options.title}}</ion-label> <!-- <on-button *ngIf="expanded" color="transparent" style="align-content:right;align-items:right" (click)="toggleExpand()"> -->
            <ion-icon *ngIf="expanded" [color]="light" style="font-size:30px" (click)="toggleExpand()" name="arrow-dropdown"></ion-icon>
            <ion-icon *ngIf="!expanded" [color]="light" style="font-size:30px" (click)="toggleExpand()" name="arrow-dropleft"></ion-icon>
            <!-- </ion-button> -->
        </ion-item>
        <ion-item color="" no-padding no-margin [hidden]="!expanded">
            <ion-grid>
                <ion-row *ngFor="let i of tasks" class="task-row">
                    <ion-col size="4" attr.color={{options.color}}>
                        <ion-label class="item-text-center" [attr.color]="" floating>
                            {{formatHour(i._hour)}}
                        </ion-label>
                    </ion-col>
                    <ion-col size="5" class="" attr.color={{options.color}}>
                        <ion-label class="item-text-center" [attr.color]="" floating>
                            {{i.habit.name}}
                        </ion-label>
                    </ion-col>
                    <ion-col size="3" style="align-content:right;align-items:right; text-align:right">
                        <ion-button *ngIf="mode != 'delete'" color="transparent" style="align-content:right;align-items:right" (click)="emitAction(i)">
                            <ion-icon [color]="options.buttonColor || options.color" style="font-size:30px" name="{{options.actionIcon}}"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="mode == 'delete'" color="transparent" style="align-content:right;align-items:right" (click)="emitDelete(i)">
                            <ion-icon [color]="options.buttonColor || options.color" style="font-size:30px" name="remove-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-card>

</ion-list>
