<habits-toolbar [mode]="mode" (action)="setMode($event)">

</habits-toolbar>
<ion-content>
    <ion-header class="subheader" no-border no-margin no-padding>
        <ion-grid color="medium">
            <ion-row style="" color="medium">

                <!-- left button -->
                <ion-col size="4" class="" style="text-align:left">
                    <ion-button color="none" style="height:100%" [disabled]="mode == 'empty'" (click)="decrementDate()" no-border no-padding no-margin style="font-size:20px;">
                        <ion-icon name="arrow-dropleft" color="primary"></ion-icon>
                    </ion-button>
                </ion-col>

                <!-- the date header  -->

                <ion-col size="4" color="primary" style="">
                    <div style="text-align:center">
                        <div style=" position:relative;top:50%">
                            <ion-label color="primary">{{currentDate.format('dddd MM/DD/YYYY ')}}</ion-label>
                        </div>
                    </div>
                </ion-col>
                <!-- right button -->
                <ion-col size="4" class="" style="text-align:right">
                    <ion-button (click)="incrementDate()" color="none" no-padding no-margin style="font-size:20px;" [disabled]="mode == 'empty'">
                        <ion-icon name="arrow-dropright" color="primary"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- </ion-item> -->
    </ion-header>

    <!-- incomplete/missed/completed tasks -->

    <task-list (action)="completeTask($event)" (deleteAction)="deleteTask($event)" [tasks]="incompleteTasks" [mode]="mode" [options]="{color:'dark',buttonColor: 'primary',actionIcon:'checkmark-circle-outline'}">
    </task-list>

    <task-list (action)="completeTask($event)" (deleteAction)="deleteTask($event)" [mode]="mode" [tasks]="completeTasks" [options]="{color:'success',actionIcon:'checkmark-circle-outline'}">
    </task-list>

    <task-list (action)="completeTask($event)" (deleteAction)="deleteTask($event)" [mode]="mode" [tasks]="missedTasks" [options]="{color:'danger',actionIcon:'checkmark-circle-outline'}">
    </task-list>

</ion-content>
