// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "theme/theme.dark";
@import "theme/theme.light";

.monthview-datetable td,
.monthview-datetable th {
    border: none !important;
}


.button {
    --box-shadow: none;
}

.monthview-secondary-with-event {
    background-color: transparent !important;
}

.monthview-primary-with-event {
    background-color: transparent !important;
    color: black !important;
}

.text-muted {
    background-color:  !important gray;
}

.calendar-day {
    border-radius: 30px;

    &.blocked {
        border: 3px solid var(--ion-color-tertiary);
        text-color: var(--ion-color-medium);
    }

    &.disabled {
        text-decoration: line-through;
        text-color: var(--ion-color-medium);
        color: var(--ion-color-medium) !important;
    }

    &.current {
        border: 3px solid var(--ion-color-secondary);
    }

    &.primary {
        // color: white;

    }

    &.failure {
        border: 3px solid var(--ion-color-danger);
    }

    &.other {
        border: 3px solid var(--ion-color-tertiary);
    }

    &.awaiting {
        border: 3px solid var(--ion-color-primary);
    }

    &.completed {
        border: 3px solid var(--ion-color-success);
    }
}


.monthview-selected {
    background-color: transparent !important;
    color: black !important;
}

td-selected {
    background-color: !important purple;
    color: !important purple;
}
td .monthview-selected {
    background-color: !important purple;
    color: !important purple;
}

.subheader {
    // background-color: var(--ion-color-medium);
    border-bottom: none;
    // font-color: black;
    // text-color: black;
}

.date-button {
    height:100%;
    background-color:transparent;
    background: transparent;
}

.date-heading {
    position:relative;
    top:50%;
    // font-color: var(--ion-color-tertiary);
    color: var(--ion-color-primary);
}
