// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "theme/theme.dark";
@import "theme/theme.light";

.monthview-datetable td, .monthview-datetable th{
    border: none !important;
}
.monthview-primary-with-event{
        background-color: transparent !important;
}

.calendar-day {
    border-radius: 30px;
        color: black;

    &.primary {
        color: white;
    }

    &.failure {
        border: 3px solid gray;
    }
    
    &.awaiting {
        border: 3px solid green;
        
    }
    &.completed {
        border: 3px solid blue;
                     
    }
}
