<ion-header>
    <ion-toolbar>
        <ion-title>Day Schedule</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- all day template -->
    <ng-template #template let-allDayEvents="allDayEvents" let-eventTemplate="eventTemplate">
        <div style="height:100%" (click)="onClickAllDay()" id="allday-header">
            <div *ngFor="let displayEvent of allDayEvents; let eventIndex=index" class="calendar-event" tappable (click)="onEventSelected(displayEvent.event)" [ngStyle]="{top: 25*eventIndex+'px',width: '100%',height:'25px'}">
                <ng-template [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{displayEvent:displayEvent}">
                </ng-template>
            </div>
        </div>
    </ng-template>

    <!-- <div *ngIf="calendar.events" class="calendar-container"> -->
    <calendar [dayviewAllDayEventSectionTemplate]="template" [currentDate]="calendar.currentDate" allDayLabel="any time" [autoSelect]="false" [calendarMode]="'day'" (onTimeSelected)="onTimeSelected($event)" (onRangeChanged)="onRangeChanged($event)" [scrollToHour]="calendar.initial" [step]="30" [timeInterval]="30" [preserveScrollPosition]="true" step="30" (onEventSelected)="onEventSelected($event)" [eventSource]="calendar.events">

    </calendar>

</ion-content>
<ion-footer>

    <ion-button float-left (click)="dismiss()">
        Cancel
    </ion-button>

    <ion-button [disabled]="calendar.events  &&  calendar.events.length == 0" float-right (click)="dismiss()">
        Done
    </ion-button>

</ion-footer>
